[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space

[*.cs]
dotnet_diagnostic.CA1826.severity = none # Use property instead of Linq Enumerable method
dotnet_diagnostic.CA1848.severity = none # Use the LoggerMessage delegates
